<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <!-- <div class="row" *ngIf="_myForm">
            <div class="offset-lg-3 col-lg-6 form-wrapper">
                <form [formGroup]="_myForm!" action="" method="post" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="username">Username</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="username" formControlName="username">
                            <span app-input-error [field]="'username'" [errors]="_myForm!.controls.username.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="email">Email</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="email" formControlName="email">
                            <span app-input-error [field]="'email'" [errors]="_myForm!.controls.email.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="fullname">Full name</label>
                        <div class="col-lg-9">
                            <input class="form-control" id=" fullname" formControlName="fullName">
                            <span app-input-error [field]="'fullName'" [errors]="_myForm!.controls.fullName.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="password">Password</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="password" formControlName="password" type="password">
                            <span app-input-error [field]="'password'" [errors]="_myForm!.controls.password.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="password">Confirmation</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="password_confirmation" formControlName="password_confirmation" type="password">
                            <span app-input-error [field]="'password_confirmation'" [errors]="_myForm!.controls.password_confirmation.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="_selectData.status">
                        <label class="col-lg-3 col-form-label" for="status">Status</label>
                        <div class="col-lg-9">
                            <select app-select [data]="_selectData.status" [value]="_item?.status" class="custom-select" id="status" formControlName="status">
                            </select>
                            <span app-input-error [field]="'status'" [errors]="_myForm!.controls.status.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="_selectData.group">
                        <label class="col-lg-3 col-form-label" for="groupId">Group</label>
                        <div class="col-lg-9">
                            <select app-select [data]="_selectData.group" [value]="_item?.group?.id" class="custom-select" id="group" formControlName="group">
                            </select>
                            <span app-input-error [field]="'group'" [errors]="_myForm!.controls.group.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="phone">Phone</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="phone" formControlName="phone">
                            <span app-input-error [field]="'phone'" [errors]="_myForm!.controls.phone.errors"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="address">Address</label>
                        <div class="col-lg-9">
                            <input class="form-control" id="address" formControlName="address">
                            <span app-input-error [field]="'address'" [errors]="_myForm!.controls.address.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image-file-input" class="col-lg-3 col-form-label">Avatar</label>
                        <div class="col-lg-9">
                            <div>
                                <input class="d-none" #file type="file" (change)="fileChangeEvent($event)" />
                                <input type="hidden" name="avatar" id="image-text-input" value="" />
                            </div>
                            <div class="img-container img-container-circle mt-3 position-relative">
                                <img [src]="_myForm!.controls.avatar.value || _helper.getEmptyPhoto(_controller)" class="img-fluid form-image" />
                                <div class="edit-image-btn rounded rounded-circle" (click)="file.click()">
                                    <span class="fas fa-image fa-4x text-light"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <app-progress-bar [value]="_fileUpload.uploadProgress"></app-progress-bar>
                    </div>
                    <div class="form-group row">
                        <div class="offset-lg-2 d-flex justify-content-end col-md-10">
                            <button class="btn btn-primary" type="submit" [disabled]="isSubmitDisabled()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
  </div>
</div>
