<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="_myForm">
      <div class="offset-lg-3 col-lg-6 form-wrapper">
        <form
          [formGroup]="_myForm!"
          action=""
          method="post"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Color</label>
            <div class="col-lg-9">
              <input class="form-control" id="color" formControlName="color" />
              <span
                app-input-error
                [field]="'color'"
                [label]="'Color'"
                [errors]="_myForm!.controls['color'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Name</label>
            <div class="col-lg-9">
              <input class="form-control" id="name" formControlName="name" />
              <span
                app-input-error
                [field]="'name'"
                [label]="'Name'"
                [errors]="_myForm!.controls['name'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Price</label>
            <div class="col-lg-9">
              <input class="form-control" id="price" formControlName="price" />
              <span
                app-input-error
                [field]="'price'"
                [label]="'Price'"
                [errors]="_myForm!.controls['price'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Status</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="status"
                formControlName="status"
              />
              <span
                app-input-error
                [field]="'status'"
                [label]="'Status'"
                [errors]="_myForm!.controls['status'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Storage</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="storage"
                formControlName="storage"
              />
              <span
                app-input-error
                [field]="'storage'"
                [label]="'Storage'"
                [errors]="_myForm!.controls['storage'].errors"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-lg-2 d-flex justify-content-end col-md-10">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="isSubmitDisabled()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
