<!-- <div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="_myForm">
      <div class="offset-lg-3 col-lg-6 form-wrapper">
        <form [formGroup]="_myForm!" action="" method="post" autocomplete="off">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Username</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="username"
                formControlName="username"
              />
              <span
                app-input-error
                [field]="'username'"
                [label]="'Username'"
                [errors]="_myForm!.controls['username'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Email</label>
            <div class="col-lg-9">
              <input class="form-control" id="email" formControlName="email" />
              <span
                app-input-error
                [field]="'email'"
                [label]="'Email'"
                [errors]="_myForm!.controls['email'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Password</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="password"
                formControlName="password"
              />
              <span
                app-input-error
                [field]="'password'"
                [label]="'Password'"
                [errors]="_myForm!.controls['password'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Status</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="status"
                formControlName="status"
              />
              <span
                app-input-error
                [field]="'status'"
                [label]="'Status'"
                [errors]="_myForm!.controls['status'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Address</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="address"
                formControlName="address"
              />
              <span
                app-input-error
                [field]="'address'"
                [label]="'Address'"
                [errors]="_myForm!.controls['address'].errors"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-lg-2 d-flex justify-content-end col-md-10">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<H3>jhsajldh</H3>
