<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    <a [routerLink]="'/admin/product/form'" class="btn btn-primary">Add</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>User name</th>
            <th>Email</th>
            <th>Team</th>
            <th>Status</th>
            <th>Created</th>
            <th>Option</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>User name</th>
            <th>Email</th>
            <th>Team</th>
            <th>Status</th>
            <th>Created</th>
            <th>Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>h</td>
            <td>d</td>
            <td>s</td>
            <td>s</td>
            <td>hihi</td>
            <td>
              <a class="btn btn-dark">Edit</a>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
