<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data User</h6>
    <a [routerLink]="'/admin/user/form'" class="btn btn-primary">Add</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Option</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let user of users1 | paginate: config">
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <span
                [class]="
                  'badge badge-' +
                  (user.status == 'Active' ? 'success' : 'warning')
                "
                >{{ user.status }}</span
              >
            </td>
            <td>
              <a
                class="btn btn-dark"
                [routerLink]="'/admin/user/form/' + user.uid"
                >Edit</a
              >
              <button class="btn btn-danger" (click)="deleteItem(user.uid!)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
