<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    <a [routerLink]="'/admin/user/form'" class="btn btn-primary">Add</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>role</th>
            <th>User Name</th>
            <th>Option</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>role</th>
            <th>User Name</th>
            <th>Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let user of users1 | paginate: config">
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.username }}</td>
            <td>
              <a
                class="btn btn-dark"
                [routerLink]="'/admin/user/form/' + user.uid"
                >Edit</a
              >
              <button (click)="deleteItem(user.uid!)" class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
