<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Storage</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Storage</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col">Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <!-- <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.color }}</td>
      <td>{{ product.storage }}</td>
      <td>{{ product.status }}</td>
      <td>{{ product.price }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
