<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
              <th>#</th>
            <th>Name</th>
            <th>Color</th>
            <th>Storage</th>
            <th>Status</th>
            <th>Price</th>
            <th>Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>>#</</td>
            <td>Name</td>
            <td>Color</td>
            <td>Status</td>
            <td>Price</td>
            <td>Option</td>
          </tr>
          <tr *ngFor="let product of products | async>
              <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.color }}</td>
      <td>{{ product.storage }}</td>
      <td>{{ product.status }}</td>
      <td>{{ product.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
