<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    <a [routerLink]="'/admin/product/form'" class="btn btn-primary">Add</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Color</th>
            <th>Storage</th>
            <th>Status</th>
            <th>Price</th>
            <th>Option</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Color</th>
            <th>Storage</th>
            <th>Status</th>
            <th>Price</th>
            <th>Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let product of products1 | paginate: config">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.storage }}</td>
            <td>{{ product.status }}</td>
            <td>{{ product.price }}</td>
            <td>
              <a [routerLink]="'/admin/product/form/' + product.id"></a>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
