<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Product</h6>
    <a [routerLink]="'/admin/product/form'" class="btn btn-primary">Add</a>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [value]="searchVal"
        (keyup)="onSearch($event)"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Storage</th>
            <th>Status</th>
            <th>Price</th>
            <th>Option</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Storage</th>
            <th>Status</th>
            <th>Price</th>
            <th>Option</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let product of list | paginate: config">
            <td>{{ product.name }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.storage }}</td>
            <td>{{ product.status }}</td>
            <td>{{ product.price }}</td>
            <td>
              <a
                class="btn btn-dark"
                [routerLink]="'/admin/product/form/' + product.id"
                >Edit</a
              >
              <button (click)="deleteItem(product.id!)" class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
