<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="_myForm">
      <div class="offset-lg-3 col-lg-6 form-wrapper">
        <form
          [formGroup]="_myForm!"
          action=""
          method="post"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">Email</label>
            <div class="col-lg-9">
              <input class="form-control" id="email" formControlName="email" />
              <span
                app-input-error
                [field]="'email'"
                [label]="'Email'"
                [errors]="_myForm!.controls['email'].errors"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="color">FullName</label>
            <div class="col-lg-9">
              <input
                class="form-control"
                id="fullname"
                formControlName="fullName"
              />
              <span
                app-input-error
                [field]="'fullName'"
                [label]="'Fullname'"
                [errors]="_myForm!.controls['fullName'].errors"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="role">Role</label>
            <div class="col-lg-9">
              <!-- <input class="form-control" id="role" formControlName="role" /> -->
              <select class="form-control" id="role" formControlName="role">
                <option>Sale</option>
                <option>Photography</option>
                <option>Marketing</option>
              </select>
              <span
                app-input-error
                [field]="'role'"
                [label]="'Role'"
                [errors]="_myForm!.controls['role'].errors"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" for="role">Status</label>
            <div class="col-lg-9">
              <select class="form-control" id="status" formControlName="status">
                <option>Active</option>
                <option>Unactive</option>
              </select>
              <span
                app-input-error
                [field]="'status'"
                [label]="'Status'"
                [errors]="_myForm!.controls['status'].errors"
              ></span>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-lg-2 d-flex justify-content-end col-md-10">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="isSubmitDisabled()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
