<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Admin Apple Store</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      aria-describedby="emailHelp"
                      name="email"
                      [(ngModel)]="email"
                      placeholder="Enter Email Address..."
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      name="password"
                      [(ngModel)]="password"
                      placeholder="Password"
                    />
                  </div>
                  <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck"
                      />
                      <label class="custom-control-label" for="customCheck"
                        >Remember Me</label
                      >
                    </div>
                  </div> -->
                  <a
                    (click)="Submit()"
                    type="Submit"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Login
                  </a>
                  <hr />
                  <a
                    class="btn btn-google btn-user btn-block"
                    (click)="tryGoogleLogin()"
                  >
                    <i class="fab fa-google fa-fw"></i>
                    Login with Google
                  </a>
                </form>
                <hr />
                <!-- <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div> -->
                <div class="text-center">
                  <a class="small" routerLink="/register"
                    >Create an Account APPLE SHOP</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
